<div class="pb-5">
    <h1 class="text-center p-4"><b>MEDIA</b></h1>
    <div class="profile-gallery">
        <div class="gallery-grid">
            <img src="../../assets/media_img1.jpg" alt="Player Photo 1" class="gallery-photo p-1" style="border: 2px solid #162d50">
            <img src="../../assets/media_img3.jpg" alt="Player Photo 3" style="border: 2px solid #162d50;" class="gallery-photo p-1">
            <img src="../../assets/media_img7.jpg" alt="Player Photo 7" style="border: 2px solid #162d50;" class="gallery-photo">
            <img src="../../assets/media_img5.jpg" alt="Player Photo 5" style="border: 2px solid #162d50;" class="gallery-photo">
            <img src="../../assets/media_img4.jpg" alt="Player Photo 4" style="border: 2px solid #162d50;" class="gallery-photo">
            <img src="../../assets/media_img6.jpg" alt="Player Photo 6" style="border: 2px solid #162d50;" class="gallery-photo">
            <img src="../../assets/media_img2.jpg" alt="Player Photo 2" style="border: 2px solid #162d50;" class="gallery-photo">
        </div>
    </div>
</div>