<div class="profile-container">
    <div class="profile-header">
      <img src="../../../assets/Tisha_inter.jpg" alt="Player Photo" class="player-photo">
      <div class="player-info">
        <h1 class="player-name">Tisha Sancheti</h1>
        <p class="player-awards">Awards: Asia Cup, Sulaymaniyah, Iraq: Selected to represent in Asia Cup and secured 9th rank.</p>
        <p class="player-awards">Participated in Olympic Selection trial in 2020 and achieved 8th rank.</p>
        <div class="social-icons">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
        </div>
      </div>
      
    </div>
  
    <div class="profile-gallery">
      <h2>Gallery</h2>
      <div class="gallery-grid">
        <img src="../../../assets/Tisha_img1.jpg" alt="Player Photo 1" class="gallery-photo">
       
        
      </div>
    </div>
  
    <div class="international-events">
      <h2>International Events</h2>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Sr. No</th>
              <th scope="col">International Event</th>
              <th scope="col">Place of Events</th>
              <th scope="col">Date of Event</th>
              <th scope="col">Merit/Medals</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1</td>
              <td>Tisha Kamlesh Sancheti</td>
              <td>South Korea (SEOUL)</td>
              <td>21 July to 27 July, 2016</td>
              <td>Team-Bronze</td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
  