<div class="profile-container">
    <div class="profile-header">
        <img src="../../assets/Shukmani_inter.jpg" alt="Player Photo" class="player-photo">
        <div class="player-info">
            <h1 class="player-name">Shukmani Gajanan Babarekar</h1>
            <p class="player-awards">Awards: Honored Chhatrapati Award</p>
            <div class="social-icons d-flex gap-4 p-2 fs-5 mt-2 text-end">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>

    <div class="profile-gallery">
        <h2>Gallery</h2>
        <div class="gallery-grid">
            <img src="../../../assets/Shukmani_img1.jpg" alt="Player Photo 1" class="gallery-photo">
            <img src="../../../assets/Shukmani_img2.jpg" alt="Player Photo 2" class="gallery-photo">
            <img src="../../../assets/Shukmani_img3.jpg" alt="Player Photo 3" class="gallery-photo">
            <img src="../../../assets/Shukmani_img4.jpg" alt="Player Photo 4" class="gallery-photo">
            <img src="../../../assets/shukmani_img5.jpg" alt="Player Photo 4" class="gallery-photo">
            <img src="../../../assets/shukmani_New.jpg" alt="Player Photo 4" class="gallery-photo">
        </div>
    </div>

<div class="p-4">
    <h2 class="text-center fw-bold">International Events</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">International Event</th>
                    <th scope="col">Place of Events</th>
                    <th scope="col">Date of Event</th>
                    <th scope="col">Merit/Medals</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>4th SEUL International Youth Aerchery Festa</td>
                    <td>South Korea (SEOUL)</td>
                    <td>21 July to 27 July, 2016</td>
                    <td>Team-Bronze</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>Asia Cup Stage 2</td>
                    <td>Bangkok (Thailand)</td>
                    <td>19 Mar to 26 Mar, 2017</td>
                    <td>Participation</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Youth World Archery Championship 2017</td>
                    <td>Argentina (Rosario)</td>
                    <td>30 Oct to 9 Oct, 2017</td>
                    <td>Team-Silver</td>
                </tr>
                <tr>
                    <td scope="row">4</td>
                    <td>Asia Cup Stage-3</td>
                    <td>Chinese Taipei</td>
                    <td>8 July to 13 July, 2018</td>
                    <td>Team-Silver, Mix-Team Silver</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="p-4">
    <h2 class="text-center fw-bold">Senior And Junior National Events (Association)</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">International Event</th>
                    <th scope="col">Place of Events</th>
                    <th scope="col">Date of Event</th>
                    <th scope="col">Merit/Medals</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>38th Senior National Archery Championship</td>
                    <td>Pune (ASI)</td>
                    <td></td>
                    <td>eam-Silver, Olympic Round-Gold</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>37th Senior National Archery Championship</td>
                    <td>Faridabad (Hariyana)</td>
                    <td>26 Mar to 30 Mar, 2017</td>
                    <td>Team-Gold</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>36th Senior National Archery Championship</td>
                    <td>Meerut (UP)</td>
                    <td>13 Oct to 19 Oct, 2015</td>
                    <td>Participation</td>
                </tr>
                <tr>
                    <td scope="row">4</td>
                    <td>39th Junior National Archery Championship</td>
                    <td>Satara (Wai) Maharashtra</td>
                    <td>2016</td>
                    <td>Orverall-Bronze, Team-Silver</td>
                </tr>
                <tr>
                    <td scope="row">5</td>
                    <td>38th Junior National Archery Championship</td>
                    <td>Jharkhand (Rachi)</td>
                    <td>10 Feb to 19 Feb, 2015</td>
                    <td>Participation</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="p-4">
    <h2 class="text-center fw-bold">Sub-Junior National Events (Associatioin)</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">International Event</th>
                    <th scope="col">Place of Events</th>
                    <th scope="col">Date of Event</th>
                    <th scope="col">Merit/Medals</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>36th Sub-Junior National Championship</td>
                    <td>Goa</td>
                    <td>7 Jun to 16 Jun, 2016</td>
                    <td>Orverall-Gold, Olympic Round-Gold, Mix Events-Bronze</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>35th Sub-Junior National Championship</td>
                    <td>Jharkhand (Rachi)</td>
                    <td>2014</td>
                    <td>Participation</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>



<div class="p-4">
    <h2 class="text-center fw-bold">School National Events</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">International Event</th>
                    <th scope="col">Place of Events</th>
                    <th scope="col">Date of Event</th>
                    <th scope="col">Merit/Medals</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>57th National School Games</td>
                    <td>Ahemadnagar (Maharashtra)</td>
                    <td>727 Dec to 30 Dec, 2011</td>
                    <td>20m-Bronze</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>58th National School Games</td>
                    <td>Kolkata</td>
                    <td>19 Feb to 23 Feb,2013</td>
                    <td>Participation</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>61th National School Games</td>
                    <td>Ranchi (Jharkhand)</td>
                    <td>16 Jun to 20 Jun, 2016</td>
                    <td>Team-Bronze, 50m-Bronze, 30m-Bronze, Overall-Gold</td>
                </tr>
                <tr>
                    <td scope="row">4</td>
                    <td>62th National School Games</td>
                    <td>Indoor (MP)</td>
                    <td>24 Dec to 29 Dec, 2016</td>
                    <td>Team-Gold, 60m-Bronze </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>



<div class="p-4">
    <h2 class="text-center fw-bold">All India University Championship</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">International Event</th>
                    <th scope="col">Place of Events</th>
                    <th scope="col">Date of Event</th>
                    <th scope="col">Merit/Medals</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>All India University Championship</td>
                    <td>Bhubneshwar (Odisa)</td>
                    <td>26 Dec to 31 Dec, 2017</td>
                    <td>Team-Gold</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>All India University Championship</td>
                    <td>Bhubneshwar (Odisa)</td>
                    <td>26 Dec to 31 Dec, 2018</td>
                    <td>70m-Gold, Overall Gold, Olympic Round-Gold, Team-Silver</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>


<div class="p-4">
    <h2 class="text-center fw-bold">State Level Sub-Junior, Junior, Senior Events (Associatioin and School)</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">International Event</th>
                    <th scope="col">Place of Events</th>
                    <th scope="col">Date of Event</th>
                    <th scope="col">Merit/Medals</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>16th Senior State Championship</td>
                    <td>Kolhapur</td>
                    <td>2017</td>
                    <td>Orverall-Gold, Team-Bronze</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>15th Senior State Championship</td>
                    <td>Washim</td>
                    <td>2 Dec to 4 Dec, 2016</td>
                    <td>Olympic Round Bronze</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>14th Senior State Championship</td>
                    <td>Solapur</td>
                    <td>8 Oct to 10 Oct, 2015	</td>
                    <td>Olympic Round Bronze, Team-Bronze</td>
                </tr>
                <tr>
                    <td scope="row">4</td>
                    <td>13th Senior State Championship</td>
                    <td>Jalna</td>
                    <td>26 Sep to 28 Sep, 2014</td>
                    <td>Participation</td>
                </tr>
                <tr>
                    <td scope="row">5</td>
                    <td>15th Sub- Junior State Championship</td>
                    <td>Pune</td>
                    <td>25 Nov to 27 Nov, 2016</td>
                    <td>Overall-Gold, Indusial-Gold, Team-Silver</td>
                </tr>
                <tr>
                    <td scope="row">6</td>
                    <td>School State Championship</td>
                    <td>Raigad</td>
                    <td>20 Nov to 22 Nov, 2016</td>
                    <td>70m-Gold, 60m-Bronze, 50m-Gold, Orverall Gold, Team-Gold</td>
                </tr>
                <tr>
                    <td scope="row">7</td>
                    <td>14th Sub- Junior State Championship</td>
                    <td>Nanded</td>
                    <td>24 Dec to 26 Dec,2015</td>
                    <td>Overall-Gold, Olympic Round-Gold, Team-Silver</td>
                </tr>
                <tr>
                    <td scope="row">8</td>
                    <td>13th Sub- Junior State Championship</td>
                    <td>Mumbai	</td>
                    <td>29 Dec to 31 Dec, 2014</td>
                    <td>Participation</td>
                </tr>
                <tr>
                    <td scope="row">9</td>
                    <td>11th Sub- Junior State Championship</td>
                    <td>Akola</td>
                    <td>17 Dec to 19 Dec, 2012</td>
                    <td>Team-Gold</td>
                </tr>
                <tr>
                    <td scope="row">10</td>
                    <td>14th Junior State Championship</td>
                    <td>Pimpari Chinchawad	</td>
                    <td>2 Jan to 4 Jan, 2016</td>
                    <td>Overall-Silver- Olympic Round-Silver, Team-Gold</td>
                </tr>
                <tr>
                    <td scope="row">11</td>
                    <td>School State Championship</td>
                    <td>Mumbai</td>
                    <td>18 Nov to 21 Nov, 2015</td>
                    <td>70m-Gold, 60m-Bronze, 50m-Gold,30m-Gold, Orverall Gold, Team-Gold</td>
                </tr>

                <tr>
                    <td scope="row">12</td>
                    <td>School State Championship</td>
                    <td>Washim	</td>
                    <td>28 Nov to 1 Dec, 2014</td>
                    <td>60m-Bronze, 50m-Gold, Team-Gold, Overall-Silver</td>
                </tr>
                <tr>
                    <td scope="row">13</td>
                    <td>School State Championship</td>
                    <td>Nagpur</td>
                    <td>4 Jan to 8 Jan, 2013	</td>
                    <td>Overall-Bronze</td>
                </tr>
                <tr>
                    <td scope="row">14</td>
                    <td>School State Championship</td>
                    <td>Washim</td>
                    <td>1 Nov to 3 Nov, 2011</td>
                    <td>30m-Gold, Overall-silver</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>



</div>