<div class="profile-container">
    <div class="profile-header">
        <img src="../../assets/Sumedh_international.jpg" alt="Player Photo" class="player-photo">
        <div class="player-info">
            <h1 class="player-name">Sumedh Vijay Mohod</h1>
            <p class="player-awards">Awards: 3rd South Asian Champion</p>
            <div class="social-icons d-flex gap-4 p-2 fs-5 mt-2 text-end">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
    </div>

<div class="profile-gallery">
    <h2>Gallery</h2>
    <div class="gallery-grid">
        <img src="../../../assets/sumedh_img_new1.jpg" alt="Player Photo 1" class="gallery-photo">
        
        <img src="../../../assets/Sumedh_2.jpg" alt="Player Photo 3" class="gallery-photo">
        <img src="../../../assets/Sumedh_img3.jpg" alt="Player Photo 4" class="gallery-photo">
       
    </div>
</div>


<div class="p-4">
    <h2 class="text-center fw-bold">INTERNATIONAL EVENTS</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr class="bg-primary">
                    <th scope="col">Sr. No</th>
                    <th scope="col">International Event</th>
                    <th scope="col">Place of Events</th>
                    <th scope="col">Date of Event</th>
                    <th scope="col">Merit/Medals</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>3rd South Asian Championship</td>
                    <td>Bangladesh (Dhaka)</td>
                    <td>24 Apr to 28 Apr, 2018</td>
                    <td>Team-Silver, Mix Team-Silver</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>All India University Championship</td>
                    <td>Bhubneshwar (Odisa)</td>
                    <td>26 Dec to 31 Dec, 2018</td>
                    <td>70m-Gold, Overall Gold, Olympic Round-Gold, Team-Silver</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- National Events -->
<div class="p-4">
    <h2 class="text-center fw-bold">National Events</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">National Event</th>
                    <th scope="col">Place of Events</th>
                    <th scope="col">Date of Event</th>
                    <th scope="col">Merit/Medals</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>1st Khelo India School Games</td>
                    <td>Delhi</td>
                    <td>31 Jan to 8 Feb, 2018</td>
                    <td>Olympic Round-Silver</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>63rd National School Games</td>
                    <td>Jagdalpur (Chhattisgarh)</td>
                    <td>16 Nov to 20 Nov, 2017</td>
                    <td>Olympic Round-Gold, Team-Silver, Mix Team-Bronze</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>64rd National School Games</td>
                    <td>Delhi</td>
                    <td>3 Jan to 9 Jan 2019</td>
                    <td>30 Meter Bronze, Team Event Silver</td>
                </tr>
            </tbody>
        </table>
    </div>


<!-- State Level Championship Events -->
<div class="p-4">
    <h2 class="text-center fw-bold">State Level Championship Events</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col">State Event</th>
                    <th scope="col">Place of Events</th>
                    <th scope="col">Date of Event</th>
                    <th scope="col">Merit/Medals</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>School State Championship</td>
                    <td>Washim</td>
                    <td>12 Oct to 15 Oct, 2017</td>
                    <td>Overall-Gold, Olympic Round-Gold, Team-Gold, 70m-Gold, 60m-Bronze, 30m-Silver</td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>16th Sub-Junior State Championship</td>
                    <td>Ratnagiri</td>
                    <td>24 Apr to 26 Apr, 2017</td>
                    <td>Olympic Round-Gold, Overall-Bronze, Team-Silver</td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>School State Championship</td>
                    <td>Delhi</td>
                    <td>20 Nov to 22 Nov, 2016</td>
                    <td>Participation</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>