<div class="profile-container">
    <div class="profile-header">
      <img src="../../assets/placeholder.png" alt="Player Photo" class="player-photo">
      <div class="player-info">
        <h1 class="player-name">Seham Nandkishor Dhave</h1>
        <p class="player-awards">Participate</p>
        <div class="social-icons">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i>
        </div>
      </div>
      
    </div>
  
    <div class="profile-gallery">
      <h2>Gallery</h2>
      <div class="gallery-grid">
        <img src="../../assets/Academy_img1.jpg" alt="Player Photo 1" class="gallery-photo">
        <img src="../../assets/Academy_img2.jpg" alt="Player Photo 2" class="gallery-photo">
        <img src="../../assets/Academy_img3.jpg" alt="Player Photo 3" class="gallery-photo">
        <img src="../../assets/Academy_img4.jpg" alt="Player Photo 4" class="gallery-photo">
        <img src="../../assets/Shukmani_img2.jpg" alt="Player Photo 5" class="gallery-photo">
        <img src="../../assets/Shukmani_img3.jpg" alt="Player Photo 6" class="gallery-photo">
      </div>
    </div>
  
    <div class="international-events">
      <h2>National Events</h2>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Sr. No</th>
              <th scope="col">Names of the Players</th>
              <th scope="col">Place of Events</th>
              <th scope="col">Date of Event</th>
              <th scope="col">Merit/Medals</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">1</td>
              <td>Seham Nandkishor Dhave</td>
              <td>Bhopal (Madhyapradesh)</td>
              <td>2019	</td>
              <td>Participate</td>
            </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
  