<div class="container-fluid ">
    <div class="row mb-3">
        <div class="col-12 text-center p-4  ">
            <h1>BLOG</h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="../../assets/Recurve_Bows_Home.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Olympic Archers Recurve Bows</h5>
                  <p class="card-text">When it comes to Olympic recurve bows, there are numerous options available on the market, catering to different skill levels, budgets, and preferences.</p>
                </div>
                <div class="text-center mb-3">
                    <button routerLink="/blog1" class="readmorebtn btn">READ MORE</button>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://dbsarchery.in/assets/blog_intro_img1.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">An Introduction to the Art of Archery</h5>
                  <p class="card-text">The bow began to be replaced by the gun as the principal weapon of warfare, it increasingly became a sporting device.</p>
                </div>
                    <div class="text-center mb-3">
                        <button routerLink="/blog2" class="readmorebtn btn">READ MORE</button>
                    </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="../../assets/blog3_img1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Popular Archery Games and Competitions</h5>
                  <p class="card-text">Let's explore some of the popular archery games and competitions that showcase the sport's versatility and global appeal.</p>
                </div>
                <div class="text-center mb-3">
                    <button routerLink="/blog3" class="readmorebtn btn">READ MORE</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>