<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center  mobile-view">A Introduction to the Art of Archery</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
            <img src="../../../assets/blog_intro_img1.webp" class="object-fit-cover rounded" height="100%" width="100%"  alt=""> 
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
            <p>Archery games have a long and storied history, tracing back to ancient civilizations where archery was not only a
                 crucial skill for hunting and warfare but also a celebrated sport. Today, archery games have evolved into a popular 
                 recreational activity and competitive sport enjoyed by people of all ages worldwide.
                Archery, a captivating sport that traces its roots back thousands of years, has captivated the hearts and minds of
                 enthusiasts worldwide. With its blend of skill, precision, and focus, archery offers a unique and rewarding experience. 
                 Whether you are drawn to its historical significance or simply seeking a new recreational pursuit,
                 archery promises an exciting journey filled with challenge and personal growth.</p>
        </div>
    </div>

    <div class="row mb-3 p-4" style="background-color: rgb(215, 218, 221);">
        <h1 class="text-center">The Excitement of Archery Games</h1>
        <ol>
            <li><b>Target Archery:</b> The most common form, where archers aim at stationary circular targets from set distances. The thrill comes from achieving a perfect score by hitting the bullseye.
            </li>
            <li><b>Field Archery:</b> Involves shooting at targets of varying distances, often set in natural terrain. The unpredictability of outdoor conditions adds an element of adventure.
            </li>
            <li><b>3D Archery:</b> Participants shoot at three-dimensional animal targets placed in realistic settings. This game tests an archer’s ability to judge distances and angles, simulating a hunting experience.
            </li>
            <li><b>Archery Tag:</b> Combines archery with the dynamics of a team sport. Players use foam-tipped arrows to tag opponents, making for an adrenaline-pumping experience.
            </li>
        </ol>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
            <figure class="figure">
                <img src="../../../assets/blog_intro_img3.webp" class="object-fit-cover rounded" height="100%" width="100%"  alt=""> 
                <figcaption class="figure-caption text-center">A caption for the above image.</figcaption>
              </figure>
            
        </div>  
        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
            <p>
                At the heart of archery lies the elegant and versatile bow, a weapon that has evolved over time to become a precision instrument for sport.
                 Today, archers predominantly use recurve bows, characterized by their curved limbs that face away from the archer when the bow is unstrung.
                  Compound bows, with their intricate system of pulleys and cables, offer enhanced mechanical advantages, making them popular in competitive circles. 
                  Traditional longbows, reminiscent of archery's historical origins, 
                remain cherished by enthusiasts who appreciate their simplicity and connection to the past.
            </p>
        </div>   
     </div>
</div>